@font-face {
    font-family: 'DejaVu Sans';
    src: url('fonts/DejaVuSans.woff2') format('woff2'), url('fonts/DejaVuSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('fonts/DejaVuSans-Bold.woff2') format('woff2'), url('fonts/DejaVuSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('fonts/DejaVuSans-BoldOblique.woff2') format('woff2'), url('fonts/DejaVuSans-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hero';
    src: url("fonts/Hero-Regular.woff2") format('woff2'), url("fonts/Hero-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hero';
    src: url('fonts/Hero-Bold.woff2') format('woff2'), url('fonts/Hero-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hero';
    src: url('fonts/Hero-Light.woff2') format('woff2'), url('fonts/Hero-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

*, *:after, *:before {
    box-sizing: border-box;
}

/* flex-box model */

body {
    /* display: flex;
    flex-direction: column; */
    background: #1F364B;
    color: white;
    font-family: Hero, DejaVu Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    /* Light   #4a6077
       Dark    #001023 */
}

A {
    color: white;
    text-decoration: none;
}

strong {
    letter-spacing: .05rem;
}

/* Основные блоки страницы */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 4px auto;
}

.col {
    padding: 0 4px;
    height: 75%;
}

.first_col {
    /* Одна ширина  */
    width: calc(100% /12);
    height: 60vh;
    /* border: 1px solid mediumseagreen; */
}

.second_col {
    height: 60vh;
    width: calc(100% /12 *3);
    /* border: 1px solid blue */
}

.third_col {
    width: calc(100% /12 *8);
    /* padding-left: 20px; */
    height: 60vh;
    /* border: 1px solid violet; */
}

.center_page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bl_footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 60vh;
    /* border: 1px solid yellow; */
}

p {
    /* OrdinaryParagraf */
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 120%;
}

ul, nav {
    /* width: 60%; */
    font-size: 0.9rem;
    line-height: 160%;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 44px;
    text-transform: uppercase;
}

a:hover {
    /* background-image: url("CommonButton.png"); */
    text-shadow: 1px 1px 2px grey, 0 0 1em white, 0 0 0.2em grey;
}

.button {
    background-color: #c4c4c4;
    /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.scale {
    /* display: inline-block; */
    /* Строчно-блочный элемент */
    overflow: hidden;
    /* Скрываем всё за контуром */
}

.scale img {
    transition: .5s;
    /* Время эффекта */
    display: block;
    /* Убираем небольшой отступ снизу */
}

.scale img:hover {
    transform: scale(1.6);
    /* Увеличиваем масштаб */
}